<mat-card [ngStyle]="{'background': this.cardBackgroundTransparent ? 'transparent' : '' }"
          style="padding-top: 0;margin-top: 3px;">
    <mat-card-header>
        <mat-form-field >
            <input matInput (keyup)="applyFilter($event)"  placeholder="برای جستجو عبارت خود را بنویسید">
        </mat-form-field>
        <div fxLayout="row" fxLayoutAlign="end center">
            <button mat-fab title="خروجی اکسل"
                    color="primary"
                    id="excel_button"
                    (click)="exporter.exportTable('xlsx', {
                    fileName:this.model.excellExport.fileName,
                    sheet:this.model.excellExport.sheet,
                    Props:this.model.excellExport.Props})">
                <mat-icon>import_export</mat-icon>
            </button>
        </div>
        <br *ngIf="!this.model.dataTableHasSearch">
    </mat-card-header>
    <div class="example-container mat-elevation-z8" [ngStyle]="this.model.setGridStyle()">
        <div class="example-table-container">
            <mat-table #table [dataSource]="ds"
                       matTableExporter
                       #exporter="matTableExporter"
                       matSort matSortDisableClear matSortDirection="desc">

                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef  [style.flex]="2"> ردیف</mat-header-cell>
                    <mat-cell *matCellDef="let element; let i = index;">
                        <div *ngIf="this.model.dataHasPaginate">
                            {{(paginator.pageSize * paginator.pageIndex) + (i + 1) }}
                        </div>
                        <div *ngIf="!this.model.dataHasPaginate">
                            {{i + 1}}
                        </div>
                    </mat-cell>
                    <ng-container *ngIf="hasFooter">
                        <mat-footer-cell *matFooterCellDef></mat-footer-cell>
                    </ng-container>
                </ng-container>

                <ng-container *ngFor="let column of this.model.columns ; let j = index;" matColumnDef="{{column.field}}">
                    <mat-header-cell *matHeaderCellDef
                    [disabled]="IsSortable(column)"
                    mat-sort-header
                    [style.flex]="column.width"> {{column.caption}} </mat-header-cell>
                    <mat-cell *matCellDef="let element; let i = index" [style.flex]="column.width">
                        <div *ngIf="column.type" [ngSwitch]="column.type">
                            <div *ngSwitchCase="'CheckBox'">
                                <mat-slide-toggle [checked]="this.model.gridSwitchChecked(element, column.field) "
                                                  (change)="this.model.gridOnSwitchClick(element, column.field)">
                                </mat-slide-toggle>

                            </div>
                            <!-- button or other type should br impelemnt  -->
                            <div *ngSwitchDefault>
                                {{element[column.field]}}
                            </div>
                        </div>
                        <div *ngIf="!column.type" [ngClass]="{'wrap-text': wrapText}">
                            {{element[column.field]}}
                        </div>
                    </mat-cell>
                    <ng-container *ngIf="hasFooter">
                        <mat-footer-cell *matFooterCellDef>
                            {{this.model.getFooter(column.field)}}
                        </mat-footer-cell>
                    </ng-container>
                </ng-container>

                <ng-container matColumnDef="edit">
                    <mat-header-cell *matHeaderCellDef> ویرایش</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <button mat-icon-button color="primary" (click)="edit(element)">
                            <mat-icon>edit</mat-icon>
                        </button>
                    </mat-cell>
                    <ng-container *ngIf="hasFooter">
                        <mat-footer-cell mat-footer-cell *matFooterCellDef></mat-footer-cell>
                    </ng-container>
                </ng-container>

                <ng-container matColumnDef="delete">
                    <mat-header-cell mat-header-cell *matHeaderCellDef> حذف</mat-header-cell>
                    <mat-cell mat-cell *matCellDef="let element; let i = index;">
                        <button mat-icon-button color="warn" (click)="delete(element, i)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </mat-cell>
                    <ng-container *ngIf="hasFooter">
                        <mat-footer-cell mat-footer-cell *matFooterCellDef></mat-footer-cell>
                    </ng-container>
                </ng-container>

                <ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
                </ng-container>
                <mat-row *matRowDef="let row; columns: displayedColumns;"
                         [ngStyle]="this.model.setGridRowStyle(row)"></mat-row>
                <ng-container *ngIf="hasFooter">
                    <mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"
                                    style="background-color: #cdf7ff"></mat-footer-row>
                </ng-container>
            </mat-table>
        </div>
        <mat-paginator *ngIf="this.model.dataHasPaginate"
                       class="mat-paginator-sticky"
                       [length]="resultsLength"
                       [pageIndex]="0"
                       [pageSizeOptions]="pageSizeOptions"
                       showFirstLastButtons
                       (page)="pageChange()"
                       style="background-color: rgba(216,219,212,0.53)">
        </mat-paginator>
    </div>
</mat-card>



